body{
  font-family: 'Open Sans', sans-serif;
}

#connect{
  padding: 0.5em 1em;
  box-shadow: none;
  background: white;
  border: 1px solid black;
  cursor: pointer;
}

.container{
  width: 50%;
  height: 60%;
  position: absolute;
  float: right;
  right: 0;
}

canvas{
  width: 100% !important;
  height: 100% !important;
}

.myo-data{
  display: block;
  float: left;
  width: 40%;
  position: absolute;
  border: 1px solid black;
  height: 60%;
  margin-top: 2rem;
  left: 1rem;
}

.myo-data ul li{
  font-size: 14px;
  list-style: none;
  left: 0;
  margin-left: 0;
}

.myo-data ul{
  padding-left: 1rem;
}
